*.lnk
desktop.ini
gemini.md
.git
.github
GEMINI-CLI - Launcher.PS1
.geminiignore
EXAMPLE-README.MD
thumbs.db
Untitled
2Adobe Genuine Service Remover - Utility Script.ps1
Adobe Genuine Service Remover - Utility Script.ps1
Untitled (1).PS1
Untitled (2).PS1
Versions/v0.8.6.0 OptiLink Instant Messenger.PS1
PowerShell-Script_Archive/BACKUP.zip
